pkgbase = rofi-bookmarks
	pkgdesc = Firefox local storage bookmark browser for rofi
	pkgver = 1.0.0
	pkgrel = 3
	url = https://github.com/winiciuscota/rofi-bookmarks
	arch = any
	license = MIT
	makedepends = git
	depends = rofi
	depends = bash
	depends = python
	depends = firefox
	depends = xdg-utils
	depends = libnotify
	source = rofi-bookmarks-src::git+https://github.com/winiciuscota/rofi-bookmarks.git#tag=v1.0.0
	sha256sums = SKIP

pkgname = rofi-bookmarks
